<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Configuration.Properties.Settings.CONFEROCLIENTConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CONFEROCLIENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>