<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SMSGatewayWS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="com.serviceobjects.trial.GeoPinPoint" value="http://trial.serviceobjects.com/gpp/GeoPinPoint.asmx"/>
		<add key="net.webservicex.www.globalweather" value="http://www.webservicex.net/globalweather.asmx"/>
	<add key="WebReference.service1" value="http://192.168.233.128:8080/service1.asmx"/>
	</appSettings>
	<connectionStrings>
		<add name="DatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;Database=SMSGateway;Integrated Security=True;"/>
	</connectionStrings>
	<system.web>
		<siteMap>
			<providers>
				<add name="Menu1Sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.SiteMap"/>
				<add name="Menu2Sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="Web2.SiteMap"/>
			</providers>
		</siteMap>
		<httpHandlers>
			<add verb="GET" path="ImageVerifier.axd" type="NatsNet.Web.UI.Controls.ImageVerifier, NatsNet.Web.UI.Controls"/>
		</httpHandlers>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<applicationSettings>
		<SMSGatewayWS.My.MySettings>
			<setting name="SMSGatewayWS_com_innovativesingapore_labs_Service1" serializeAs="String">
				<value>http://labs.innovativesingapore.com/smsgateway/service1.asmx</value>
			</setting>
			<setting name="SMSGatewayWS_net_webservicex_www_GlobalWeather" serializeAs="String">
				<value>http://www.webservicex.net/globalweather.asmx</value>
			</setting>
		</SMSGatewayWS.My.MySettings>
	</applicationSettings>
</configuration>
