<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebBrowser.Properties.Settings.ConferoServerConnectionString"
            connectionString="Data Source=SERVER20-F46E99\sqlexpress;Initial Catalog=ConferoServer;Persist Security Info=True;User ID=ConferoClient;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>